.navbar{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px gray;
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.navbar .menu{
    text-decoration: none;
    margin-left: 17px;

}